body{
    margin: 0;
}
@font-face {
    font-family: 'Cinzel';
    src: url(../fontes/Cinzel-Bold.ttf);
}
.apresenta{
    display: flex;
    justify-content: center;
}
.logo{
    width:80px;
    height:80px;
    overflow: hidden;
}
.logo img{
    width:100%;
    height:100%;
    filter: invert(15%) sepia(24%) saturate(1736%) hue-rotate(333deg) brightness(92%) contrast(86%);
}
.desc_logo{
    margin-top: -6vh;
    margin-bottom: -6.5vh;
    height: 15vh;
    display: flex;
    text-align: center;
    align-items: center;
    text-shadow: 2px 3px 6px #8b8b8b;
}
.nameLoja{
    font-size: 30px;
    color: #4d2a1c;
    font-family: 'Cinzel';
    letter-spacing: 5px;
}
.valoresLoja{
    color: #4d2a1c;
    font-size: 12px;
    letter-spacing: 2.5px;
}
.inicio{
    height: 100vh;
    background-image: url(../images/fundo_petzoo.jpg_1714190919254.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
}
.historia{
    height: 100vh;
    background-image: url(../images/snapedit_1714193309495.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
}
.servicos{
    height: 100vh;
    background-image: url(../images/fundo_gatitos.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
}

header{
    width: 100vw;
    padding-top: 3vh;
    justify-content: center;
    position: fixed;
    
}
nav{
    display: flex;
    justify-content: center;
}
.mov_direita{
    align-items: center;
}
.navegadores{
    background-color: transparent;
    width: 10vw;
    font-size: 'Cinzel';
    color: #4d2a1c;
    border-right: 1px solid #4d2a1c;
    font-size: large;
    text-decoration: none;
    text-align: center;
}
.navegadores:hover{
    color: #000000;
}
.navegadores:last-child{
    border: none;
}
.mov_esquerda{
    transform: translateY(-50%); 
    top: 20%;
    position: relative;
}
.sombra{
    background-color: transparent;
    width: 5vw;
    height: 3vh;
    margin-top: -3vh;
}
.image_sombra{
    width: 100%;
    height: 100%;
}
.teste{
    height: 100vh;
}
.actived{
    font-size: x-large;
}
.servicos{
    display: flex;
    justify-content: center;
}
.central{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10vw 8vw;
    justify-content: center;
    height: 100vh;
    
    
}
.central_sobre{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10vw 8vw;
    justify-content: center;
    justify-items: end;
    height: 100vh;
    
    
}
.quadrado{
    background-color: rgba(146, 146, 146, 0.1);
    width: 20vw;
    height: 70vh;
    transform: translateY(-50%); 
    top: 50%;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 5px 8px #c56f59;
}
.quadrado_sobre{
    background-color: rgba(146, 146, 146, 0.1);
    width: 45vw;
    height: 80vh;
    transform: translateY(-50%); 
    top: 50%;
    right: 5%;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 5px 8px #c56f59;
}

.produtos{
    display: flex;
    justify-content: center;
}
.planos{
    display: flex;
    justify-content: center; 
}

